---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
“The Effect of Image-Audio Emotional Similarity on NFT Product Sales (Job Market Paper)”, **MengQi(Annie) Ding** and Xin (Shane) Wang
<br>
<br>
Abstract: Musicians are often left wondering how to design album art to attract sales. The general answer is that the album cover should “fit” the style of the song. However, what does this “fit” mean exactly is not clear. We propose that one element of the “matching in style” is emotional similarity between album
cover art and the music, which is that the song and the album cover should evoke the same kind of emotional responses from the listeners. Building upon art theory and Transformer-based neural network Wav2vec 2.0 model, we created a novel metric to measure emotional similarity between
image and audio in accordance to the classic Pleasure-Arousal-Dominance (PAD) emotion model. Next, we collected an 18-month panel dataset from a large NFT trading platform. The panel dataset includes
weekly prices of 1,670 music NFTs. Further, we adopted both feature extraction and kernel PCA to control the image and audio features of these music NFTs. The findings show that greater image-audio
emotional similarity leads to higher prices for music NFTs, and that this effect is positively moderated by NFT product rarity.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

