---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
“The Effect of Image-Audio Emotional Similarity on NFT Product Sales (Job Market Paper)”, <b>MengQi(Annie) Ding </b> and Xin (Shane) Wang
<br>
<br>
Abstract: Musicians are often left wondering how to design album art to attract sales. The general answer is that the album cover should “fit” the style of the song. However, what does this “fit” mean exactly is not clear. We propose that one element of the “matching in style” is emotional similarity between album
cover art and the music, which is that the song and the album cover should evoke the same kind of emotional responses from the listeners. Building upon art theory and Transformer-based neural network Wav2vec 2.0 model, we created a novel metric to measure emotional similarity between
image and audio in accordance to the classic Pleasure-Arousal-Dominance (PAD) emotion model. Next, we collected an 18-month panel dataset from a large NFT trading platform. The panel dataset includes
weekly prices of 1,670 music NFTs. Further, we adopted both feature extraction and kernel PCA to control the image and audio features of these music NFTs. The findings show that greater image-audio
emotional similarity leads to higher prices for music NFTs, and that this effect is positively moderated by NFT product rarity.

<br>
<br>
“The Impact of Image Content for Online Reviews”, <b>MengQi(Annie) Ding</b>, Shirley Chen, Xin (Shane) Wang, and Neil Bendle, Under 3rd round revision at 
<i>Journal of Consumer Research</i>
<br>
<br>
Abstract: Despite the increasing prevalence of images in online reviews, it remains unknown how the presence and content of images affect consumer decision-making. We collect five million Amazon reviews from
25 product categories, and show that review helpfulness was higher for reviews that were posted when Amazon’s image uploading tool was operational and for reviews with more images. Then, we
build on communication theory to define three image content types—elaboration, extension, and enhancement—that provide different types of information to consumers. We use a deep learning
approach to quantify the image content, and find that the helpfulness of the image content types seems to vary with the product type: elaboration (extension and enhancement) was more positively
associated with review helpfulness in relatively hedonic (utilitarian) product categories. In controlled experiments, we use a causal chain approach to test the proposed mechanism, and provide evidence
that elaboration images (extension and enhancement images) lead to relatively high-level (low-level) construal, and that high-level (low-level) construal leads to more favorable responses to a hedonic
(utilitarian) orientation. Finally, we show that the inclusion of an image reduces decision difficulty and increases the purchase intention. We offer practical implications for review platforms, reviewers,
product managers, and consumers.

<br>
<br>
“Fact or Opinion: Investigating the Effect of Headlines on Online Engagement and Approval”, <b>MengQi(Annie) Ding</b>, BingQing Li and Xin (Shane) Wang
<br>
<br>
Abstract: Headlines play a vital role in online news, summarizing main ideas and attracting readers. Headlines allow readers to judge whether the news communicates facts or opinions and helps readers decide
whether to read further. We investigate how the headline type—opinion-based versus fact-based—influences reader engagement and approval. We study the effects with field datasets from Reddit,
featuring posts from the “COVID-19” forum and “racism” forum. Methodologically, we introduce Causal Embedding, a machine-learning-based text analysis method, to control for endogeneity in the article
text so that we can identify the causal effects of the headline type. Consistent with our predictions, the use of an opinion-based headline rather than a fact-based headline involves a trade-off: it increases
engagement by 13.6% (15.2%) of a standard deviation for COVID-19 posts (racism posts) and decreases approval by 7.0% (11.8%) of a standard deviation. We confirm the main effects in a
controlled lab experiment. Our paper highlights the trade-off between engagement and approval, demonstrates the relevance of headlines in digital content, and showcases a tool for controlling for
textual data. 

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

